<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-center my-4">
      <h4 class="my-2">
        WELCOME TO
      </h4>
      <h2>
        GATE CLERK
      </h2>
    </div>
  </div>

  <div class="row mx-3">
    <div class="col-lg-4 mx-auto bg-white gate-login">
      <div class="example-form w-10 pt-4">
        <mat-form-field class="w-100 my-2">
          <mat-label>User Name</mat-label>
          <input matInput placeholder="Enter User Name" value="" />
        </mat-form-field>

        <mat-form-field class="w-100 my-2">
          <mat-label>Password</mat-label>
          <input
            matInput
            placeholder="Enter Password"
            value=""
            type="password"
          />
        </mat-form-field>
        <div class="example-button-row">
          <button
            mat-raised-button
            color="primary"
            class="w-100"
            routerLink="/selectdropoff"
          >
            Login
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
