<div class="container-fluid conf-pas mb-5 py-5">
  <div class="row">
    <div class="col-lg-4 offset-lg-4">
      <div class="row text-center mb-5">
        <button
          mat-raised-button
          color="primary"
          class="m-auto"
          routerLink="/home"
        >
          Home
        </button>
      </div>

      <h4 class="text-center mb-4">
        <!-- APP_NAME -->
        Forgot Password
      </h4>

      <div class="login-container">
        <mat-card>
          <form (ngSubmit)="forgot()" [formGroup]="forgotForm">
            <div class="example-container py-3">
              <div class="row my-3">
                <div class="col-12">
                  <mat-form-field class="w-100">
                    <input
                      matInput
                      formControlName="email"
                      placeholder="Enter Email Address"
                      value=""
                    />
                  </mat-form-field>
                </div>
              </div>

              <div class="example-button-row pb-5">
                <button mat-raised-button color="primary" class="w-100">
                  Submit
                </button>
                <br />
              </div>
            </div>
          </form>
        </mat-card>
      </div>

      <div class="text-center my-0">
        <a href="" routerLink="/changepassword" class="text-white"
          >Forgot Password</a
        >
      </div>
    </div>
  </div>
</div>
