.text-center {
  .mat-card-header-text {
    text-align: center;
    margin: 20px auto !important;
  }
}

mat-card-header {
  font-size: 14px !important;
}

.master-icons {
  img {
    width: 40px;
    height: auto;
  }
}
