<div class="container-fluid">
  <div class="row my-4">
    <div class="col-lg-2 my-4">
      <div class="text-center">
        <mat-card>
          <div class="master-icons text-center">
            <img src="../../assets/customers.png" class="img-fluid" />
          </div>
          <mat-card-header class="text-center justify-content-center mb-2">
            <mat-card-subtitle class="m-auto font-weight-bold text-black"
              >Customers</mat-card-subtitle
            >
          </mat-card-header>
          <mat-card-actions class="mb-2">
            <button
              mat-raised-button
              color="primary"
              routerLink="/customerlist"
            >
              More
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

    <div class="col-lg-2 my-4">
      <div class="text-center">
        <mat-card>
          <div class="master-icons text-center">
            <img src="../../assets/haulier.png" class="img-fluid" />
          </div>
          <mat-card-header class="text-center justify-content-center mb-2">
            <mat-card-subtitle class="m-auto font-weight-bold text-black"
              >Haulier</mat-card-subtitle
            >
          </mat-card-header>
          <mat-card-actions class="mb-2">
            <button mat-raised-button color="primary" routerLink="/haulierlist">
              More
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

    <div class="col-lg-2 my-4">
      <div class="text-center">
        <mat-card>
          <div class="master-icons text-center">
            <img src="../../assets/ISO.png" class="img-fluid" />
          </div>
          <mat-card-header class="text-center justify-content-center mb-2">
            <mat-card-subtitle class="m-auto font-weight-bold text-black"
              >ISO</mat-card-subtitle
            >
          </mat-card-header>
          <mat-card-actions class="mb-2">
            <button mat-raised-button color="primary" routerLink="/iso">
              More
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

    <div class="col-lg-2 my-4">
      <div class="text-center">
        <mat-card>
          <div class="master-icons text-center">
            <img src="../../assets/survey.png" class="img-fluid" />
          </div>
          <mat-card-header class="text-center justify-content-center mb-2">
            <mat-card-subtitle class="m-auto font-weight-bold text-black"
              >Surveyor</mat-card-subtitle
            >
          </mat-card-header>
          <mat-card-actions class="mb-2">
            <button mat-raised-button color="primary" routerLink="/surveyor">
              More
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

    <div class="col-lg-2 my-4">
      <div class="text-center">
        <mat-card>
          <div class="master-icons text-center">
            <img src="../../assets/vendor.png" class="img-fluid" />
          </div>
          <mat-card-header class="text-center justify-content-center mb-2">
            <mat-card-subtitle class="m-auto font-weight-bold text-black"
              >Vendor</mat-card-subtitle
            >
          </mat-card-header>
          <mat-card-actions class="mb-2">
            <button mat-raised-button color="primary" routerLink="/vendor">
              More
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

    <div class="col-lg-2 my-4">
      <div class="text-center">
        <mat-card>
          <div class="master-icons text-center">
            <img src="../../assets/vendor.png" class="img-fluid" />
          </div>
          <mat-card-header class="text-center justify-content-center mb-2">
            <mat-card-subtitle class="m-auto font-weight-bold text-black"
              >Vendor Type</mat-card-subtitle
            >
          </mat-card-header>
          <mat-card-actions class="mb-2">
            <button mat-raised-button color="primary" routerLink="/vendortype">
              More
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

    <div class="col-lg-2 my-4">
      <div class="text-center">
        <mat-card>
          <div class="master-icons text-center">
            <img src="../../assets/gatetype.png" class="img-fluid" />
          </div>
          <mat-card-header class="text-center justify-content-center mb-2">
            <mat-card-subtitle class="m-auto font-weight-bold text-black"
              >Gate Type</mat-card-subtitle
            >
          </mat-card-header>
          <mat-card-actions class="mb-2">
            <button mat-raised-button color="primary" routerLink="/gatetype">
              More
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

    <div class="col-lg-2 my-4">
      <div class="text-center">
        <mat-card>
          <div class="master-icons text-center">
            <img src="../../assets/gate.png" class="img-fluid" />
          </div>
          <mat-card-header class="text-center justify-content-center mb-2">
            <mat-card-subtitle class="m-auto font-weight-bold text-black"
              >Gate Status</mat-card-subtitle
            >
          </mat-card-header>
          <mat-card-actions class="mb-2">
            <button mat-raised-button color="primary" routerLink="/gatestatus">
              More
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

    <div class="col-lg-2 my-4">
      <div class="text-center">
        <mat-card>
          <div class="master-icons text-center">
            <img src="../../assets/progress.png" class="img-fluid" />
          </div>
          <mat-card-header class="text-center justify-content-center mb-2">
            <mat-card-subtitle class="m-auto font-weight-bold text-black"
              >Progress Status</mat-card-subtitle
            >
          </mat-card-header>
          <mat-card-actions class="mb-2">
            <button
              mat-raised-button
              color="primary"
              routerLink="/progressstatus"
            >
              More
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

    <div class="col-lg-2 my-4">
      <div class="text-center">
        <mat-card>
          <div class="master-icons text-center">
            <img src="../../assets/eortype.png" class="img-fluid" />
          </div>
          <mat-card-header class="text-center justify-content-center mb-2">
            <mat-card-subtitle class="m-auto font-weight-bold text-black"
              >EOR Type</mat-card-subtitle
            >
          </mat-card-header>
          <mat-card-actions class="mb-2">
            <button mat-raised-button color="primary" routerLink="/eortype">
              More
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

    <div class="col-lg-2 my-4">
      <div class="text-center">
        <mat-card>
          <div class="master-icons text-center">
            <img src="../../assets/commodity.png" class="img-fluid" />
          </div>
          <mat-card-header class="text-center justify-content-center mb-2">
            <mat-card-subtitle class="m-auto font-weight-bold text-black"
              >Commodity</mat-card-subtitle
            >
          </mat-card-header>
          <mat-card-actions class="mb-2">
            <button mat-raised-button color="primary" routerLink="/commodity">
              More
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

    <div class="col-lg-2 my-4">
      <div class="text-center">
        <mat-card>
          <div class="master-icons text-center">
            <img src="../../assets/forklift.png" class="img-fluid" />
          </div>
          <mat-card-header class="text-center justify-content-center mb-2">
            <mat-card-subtitle class="m-auto font-weight-bold text-black"
              >Fork Lift Job Type</mat-card-subtitle
            >
          </mat-card-header>
          <mat-card-actions class="mb-2">
            <button
              mat-raised-button
              color="primary"
              routerLink="/forkliftjobtype"
            >
              More
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

    <div class="col-lg-2 my-4">
      <div class="text-center">
        <mat-card>
          <div class="master-icons text-center">
            <img src="../../assets/forklift.png" class="img-fluid" />
          </div>
          <mat-card-header class="text-center justify-content-center mb-2">
            <mat-card-subtitle class="m-auto font-weight-bold text-black"
              >Fork Lift Job Status</mat-card-subtitle
            >
          </mat-card-header>
          <mat-card-actions class="mb-2">
            <button
              mat-raised-button
              color="primary"
              routerLink="/forkliftjobstatus"
            >
              More
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

    <div class="col-lg-2 my-4">
      <div class="text-center">
        <mat-card>
          <div class="master-icons text-center">
            <img src="../../assets/currency.png" class="img-fluid" />
          </div>
          <mat-card-header class="text-center justify-content-center mb-2">
            <mat-card-subtitle class="m-auto font-weight-bold text-black"
              >Currency</mat-card-subtitle
            >
          </mat-card-header>
          <mat-card-actions class="mb-2">
            <button mat-raised-button color="primary" routerLink="/currency">
              More
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

    <!-- <div class="col-lg-2 my-4">
            <div class="text-center">
                <mat-card>
                    <div class="master-icons text-center"><img src="../../assets/status.png" class="img-fluid"></div>
                    <mat-card-header class="text-center justify-content-center mb-2">
                        <mat-card-subtitle class="m-auto font-weight-bold text-black">Container Status</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-actions class="mb-2">
                        <button mat-raised-button color="primary">More</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>

        <div class="col-lg-2 my-4">
            <div class="text-center">
                <mat-card>
                    <div class="master-icons text-center"><img src="../../assets/guide.png" class="img-fluid"></div>
                    <mat-card-header class="text-center justify-content-center mb-2">
                        <mat-card-subtitle class="m-auto font-weight-bold text-black">Containe Guide</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-actions class="mb-2">
                        <button mat-raised-button color="primary">More</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>

        <div class="col-lg-2 my-4">
            <div class="text-center">
                <mat-card>
                    <div class="master-icons text-center"><img src="../../assets/gateout.png" class="img-fluid"></div>
                    <mat-card-header class="text-center justify-content-center mb-2">
                        <mat-card-subtitle class="m-auto font-weight-bold text-black">Gate-Out Type</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-actions class="mb-2">
                        <button mat-raised-button color="primary">More</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>

        <div class="col-lg-2 my-4">
            <div class="text-center">
                <mat-card>
                    <div class="master-icons text-center"><img src="../../assets/containersize.png" class="img-fluid"></div>
                    <mat-card-header class="text-center justify-content-center mb-2">
                        <mat-card-subtitle class="m-auto font-weight-bold text-black">Container Size</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-actions class="mb-2">
                        <button mat-raised-button color="primary">More</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>

        <div class="col-lg-2 my-4">
            <div class="text-center">
                <mat-card>
                    <div class="master-icons text-center"><img src="../../assets/containertype.png" class="img-fluid"></div>
                    <mat-card-header class="text-center justify-content-center mb-2">
                        <mat-card-subtitle class="m-auto font-weight-bold text-black">Container Type</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-actions class="mb-2">
                        <button mat-raised-button color="primary">More</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>

        <div class="col-lg-2 my-4">
            <div class="text-center">
                <mat-card>
                    <div class="master-icons text-center"><img src="../../assets/yard.png" class="img-fluid"></div>
                    <mat-card-header class="text-center justify-content-center mb-2">
                        <mat-card-subtitle class="m-auto font-weight-bold text-black">Yard</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-actions class="mb-2">
                        <button mat-raised-button color="primary">More</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div> -->
  </div>
</div>
