<div class="container-fluid">
  <div class="row d-none">
    <div class="col">
      <img src="../../assets/survey.png" class="img-fluid mt-3" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-xl-4 my-2">
      <mat-card class="example-card px-3 pt-3 pb-0">
        <img mat-card-image src="../../assets/dropoff.jpg" alt="dropoff" />
        <div class="row">
          <div class="col-8 text-left">
            <h6 class="pt-2">Dropoff</h6>
          </div>
          <div class="col-4 text-right">
            <mat-card-actions class="p-0 mx-0">
              <button
                mat-raised-button
                color="primary"
                routerLink="/selectdropoff"
              >
                More
              </button>
            </mat-card-actions>
          </div>
        </div>
      </mat-card>
    </div>

    <div class="col-md-6 col-xl-4 my-2">
      <mat-card class="example-card px-3 pt-3 pb-0">
        <img mat-card-image src="../../assets/pickup.jpg" alt="Pickup" />
        <div class="row">
          <div class="col-8 text-left">
            <h6 class="pt-2">Pick Up</h6>
          </div>
          <div class="col-4 text-right">
            <mat-card-actions class="p-0 mx-0">
              <button mat-raised-button color="primary">More</button>
            </mat-card-actions>
          </div>
        </div>

        <mat-card-content> </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-6 col-xl-4 my-2">
      <mat-card class="example-card px-3 pt-3 pb-0">
        <img
          mat-card-image
          src="../../assets/maintenance.jpg"
          alt="maintenance"
        />
        <div class="row">
          <div class="col-8 text-left">
            <h6 class="pt-2">Maintenance & Repair</h6>
          </div>
          <div class="col-4 text-right">
            <mat-card-actions class="p-0 mx-0">
              <button mat-raised-button color="primary">More</button>
            </mat-card-actions>
          </div>
        </div>

        <mat-card-content> </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-6 col-xl-4 my-2">
      <mat-card class="example-card px-3 pt-3 pb-0">
        <img
          mat-card-image
          src="../../assets/management.jpg"
          alt="management"
        />
        <div class="row">
          <div class="col-8 text-left">
            <h6 class="pt-2">Yard Management</h6>
          </div>
          <div class="col-4 text-right">
            <mat-card-actions class="p-0 mx-0">
              <button mat-raised-button color="primary">More</button>
            </mat-card-actions>
          </div>
        </div>

        <mat-card-content> </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-6 col-xl-4 my-2">
      <mat-card class="example-card px-3 pt-3 pb-0">
        <img
          mat-card-image
          src="../../assets/usermanagement.jpg"
          alt="management"
        />
        <div class="row">
          <div class="col-8 text-left">
            <h6 class="pt-2">Users Management</h6>
          </div>
          <div class="col-4 text-right">
            <mat-card-actions class="p-0 mx-0">
              <button mat-raised-button color="primary">More</button>
            </mat-card-actions>
          </div>
        </div>

        <mat-card-content> </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-6 col-xl-4 my-2">
      <mat-card class="example-card px-3 pt-3 pb-0">
        <img mat-card-image src="../../assets/billing.jpg" alt="management" />
        <div class="row">
          <div class="col-8 text-left">
            <h6 class="pt-2">Billing</h6>
          </div>
          <div class="col-4 text-right">
            <mat-card-actions class="p-0 mx-0">
              <button mat-raised-button color="primary">More</button>
            </mat-card-actions>
          </div>
        </div>

        <mat-card-content> </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
